<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content={{cadence}}>
    <title>LayerWatch</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
<!-- Navbar Section -->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo">LW</a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="/" class="navbar__links">Home</a>
                </li>
                <li class="navbar__item">
                    <a href="/website/creators.html" class="navbar__links">Creators</a>
                </li>
                <li class="navbar__item">
                    <a href="https://github.com/hyacinsm/LayerWatch" class="navbar__links">Repo</a>
                </li>
                <li class="navbar__btn">
                    <a href="/" class="button">Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Here Section -->
    <div class="main">
      <div class="main__container">
        <div class="main__content">
          <h1>Layer Watch</h1>
          <h2>Prevent Print Failures</h2>
          <p>Save $$$ on your filament</p>
          <button class="main__btn"><a href="/">Get Started</a></button>
        </div>
        <div class="main__img--container">
          <img src="../static/images/temp_pic.svg" alt="3d printer" id="main__img">
        </div>
      </div>
    </div>

    <!-- Services Section -->
    <div class="services">
      <h1>See your Print Below...</h1>
      <div class="services__container">
        <div class="services__card">
          <h2>{{status}}</h2>
          <p>{{time}}</p>
          <img src={{img}} alt="Current Print" style="width:400px;height:525px;">
          <button><a href="/off">{{btn_txt}}</a></button>
        </div>
      </div>
    </div>

    <script src="../static/app.js"> </script>
</body>
</html>